<div class="form">
  <%= form_for(@question) do |f|%>
    <% if @question.errors.any?%>
        <div class="form-errors">
          <ul>
            <% for message in @question.errors.full_messages%>
              <li class="form-error-message"><%= message%></li> 
            <% end %>
          </ul>
        </div>
    <%end%>
  
  <%= f.hidden_field :user_id%>
  <%= f.hidden_field :owner_id%>

  <div class="form-field">
    <%= f.label :text, 'Вопрос', class: 'form-label'%>
    <%= f.text_field :text, class: 'form-textarea'%>
  </div>

  <% if current_user.present? && current_user == @question.user%>
    <div class="form-field">
      <%= f.label :answer, 'Ответ', class: 'form-label'%>
      <%= f.text_field :answer, class: 'form-textarea'%>
    </div>
  <%end%>

  <%= recaptcha_tags unless current_user.present? %>

  <div class="form-action buffer-both">
    <%= f.submit 'Сохранить', class: 'button button-small button-dark'%> или
    <%= link_to 'вернуться', user_path(@question.user)%>
  </div>

  <%end%>
</div>