<%# Это фрагмет (паршал, partial) для вывода вопроса.В нем определена %>
<%# локальная переменная question, в которую при вызове будет передан как в %>
<%# метод ruby объект после ключа (object: @question) %>
<% question ||= nil %>
<% action_icon = question.answer.blank? ? 'reply' : 'pencil' %>

<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= question.answer %>
      </div>
    <% end %>

    <div class="question-date">
      <%= question_owner(question) %>  <%= l(question.created_at, format: :short) %>
    </div>
    
  </div>
  <% if question.user == current_user%>
    <div class="question-actions">
      <%= link_to fa_icon(action_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question), 
                  method: :delete, data: {confirm: 'Точно хотите удалить вопрос?'}%>
    </div>
  <% end%>
</div>
