<div class="container container-wrappe buffer-both">
  <h1 class="title-medium">Править профиль</h1>

  <div class="form">
    <%= form_for @user do |f|%>
      <% if @user.errors.any? %>
        <div class="form-errors">
          <ul>
            <% for message in @user.errors.full_messages%>
            <li class="form-error-message"><%= message%></li> 
            <% end %>
          </ul>
        </div>
       <% end %>
      <div class="form-field">
        <%= f.label :username, 'Никнейм', class: 'form-label'%>
        <%= f.text_field :username, class: 'form-text-field'%>
      </div>
      <div class="form-field">
        <%= f.label :name, 'Имя', class: 'form-label'%>
        <%= f.text_field :name, class: 'form-text-field'%>      
      </div>
      <div class="form-field">
        <%= f.label :avatar_url, 'Аватар', class: 'form-label'%>
        <p> <%= image_tag(@user.avatar_url.thumb.url) if @user.avatar_url? %></p>
        <%= f.file_field  :avatar_url, class: 'form-text-field'%>      
      </div>
      <div class="form-field">
        <%= f.label :background_color, 'Цвет фона', class: 'form-label'%>
        <%= f.color_field :background_color, value: @user.background_color%>
      </div>
      <div class="form-field">
        <%= f.label :password, 'Пароль', class: 'form-label'%>
        <%= f.password_field :password, class: 'form-text-field'%>
      </div>
      <div class="form-field">
        <%= f.label :password_confirmation, 'Пароль ещё раз', class: 'form-label'%>
        <%= f.password_field :password_confirmation, class: 'form-text-field'%>
      </div>
      <div class="form-action">
        <%= f.submit 'Сохранить', class: 'button button-small button-green'%>
      </div>

    <% end %>
  </div>
</div>