body {
 background: #65a582;
 color: white;
}

a {
  color: #005a55;
}

.header {
  background: white;
  overflow: hidden;
  vertical-align: baseline;
  padding: 10px 40px;
}

.header-nav {
  line-height: 34px;
  float: right;
}

.header-logo {
  float: left;
}

.header-title {
  line-height: 34px;
  font-size: 20px;
}

.content {
  padding: 0 40px;
  color: #030804;
}

.content-wrapper {
  background: white;
  padding: 10px;
}

.flash-alert {
  font-size: 20px;
  color: #dc554f;
}
